{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jaipur Kitchen - About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    {% comment %} <link href="css/all.min.css" rel="stylesheet" /> {% endcomment %}
	{% comment %} <link href="css/templatemo-style.css" rel="stylesheet" /> {% endcomment %}
	<link href="{% static 'app/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/templatemo-style.css' %}" rel="stylesheet">



</head>
<!--

Jaipur Kitchen

https://templatemo.com/tm-539-simple-house

-->
<body> 


	<div class="container">
		<!-- Top box -->
			<!-- Logo & Site Name -->
			<div class="placeholder">
				<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'app/img/simple-house-01.jpg' %}">
					<div class="tm-header">
						<div class="row tm-header-inner">
							<div class="col-md-6 col-12">
								<img src="{% static 'app/img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
								<div class="tm-site-text-box">
									<h1 class="tm-site-title">Jaipur Kitchen</h1>
									<h6 class="tm-site-description">Dine and Discover</h6>	
								</div>
							</div>
							<nav class="col-md-6 col-12 tm-nav">
								<ul class="tm-nav-ul">
									<li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
									<li class="tm-nav-li"><a href="/about" class="tm-nav-link">About</a></li>
									<li class="tm-nav-li"><a href="/contact" class="tm-nav-link">Contact</a></li>
									{% if request.user.is_authenticated %}
									<li class="tm-nav-li"><a href="/logout" class="tm-nav-link">Logout</a></li>
									{% else %}
									<li class="tm-nav-li"><a href="/login" class="tm-nav-link">Login</a></li>
									<li class="tm-nav-li"><a href="/Signup" class="tm-nav-link">Signup</a></li>
									{% endif %}
								</ul>
							</nav>	
						</div>
					</div>
				</div>
			</div>
		
		
	
		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">About Jaipur Kitchen</h2>
				<p class="col-12 text-center">Spicy Paneer Spirit, Whole Wheat Bun, Corn Patty, Spiced Paneer Burger, Chicken Burgers, Ice Tea</p>
			</header>

			<div class="tm-container-inner tm-persons">
				<div class="row">
					<article class="col-lg-6">
						<figure class="tm-person">
							{% comment %} <img src="img/about-01.jpg" alt="Image" class="img-fluid tm-person-img" /> {% endcomment %}
							<img src="{% static 'app/img/about-01.jpg' %}" alt="Image" class="img-fluid tm-person-img" />

							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Jennifer Soft</h4>
								<p class="tm-person-title">Founder and CEO</p>
								<p class="tm-person-about">Vivamus cursus leo nec sem feugiat sagittis.
								Duis ut feugiat odio, sit amet accumsan
								odio.</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							{% comment %} <img src="img/about-02.jpg" alt="Image" class="img-fluid tm-person-img" />
							 {% endcomment %}
							 <img src="{% static 'app/img/about-02.jpg' %}" alt="Image" class="img-fluid tm-person-img" />

							 <figcaption class="tm-person-description">
								<h4 class="tm-person-name">Daisy Walker</h4>
								<p class="tm-person-title">Executive Chef</p>
								<p class="tm-person-about">Praesent non vulputate elit. Orci varius
								natoque et magnis dis parturient, nascetur ridiculus mus.</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							{% comment %} <img src="img/about-03.jpg" alt="Image" class="img-fluid tm-person-img" /> {% endcomment %}
							<img src="{% static 'app/img/about-03.jpg' %}" alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Florence Nelson</h4>
								<p class="tm-person-title">Kitchen Manager</p>
								<p class="tm-person-about">Aenean sapien sem, ultricies sed vulputate
								et, auctor vel mauris. Integer sit amet diam eget est facilisis lacinia vitae.</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							{% comment %} <img src="img/about-04.jpg" alt="Image" class="img-fluid tm-person-img" /> {% endcomment %}
							<img src="{% static 'app/img/about-04.jpg' %}" alt="Image" class="img-fluid tm-person-img" />

							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Valentina Martin</h4>
								<p class="tm-person-title">Culinary Director</p>
								<p class="tm-person-about">Praesent non vulputate elit. Orci varius
								natoque penatibus et magnis montes, nascetur ridiculus mus.</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
									<a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
			</div>
			<div class="tm-container-inner tm-featured-image">
				<div class="row">
					<div class="col-12">
						<div class="placeholder-2">
							<div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>		
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-features">
				<div class="row">
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
							<p class="tm-feature-description">Donec sed orci fermentum, convallis lacus id, tempus elit. Sed eu neque accumsan, porttitor arcu a, interdum est. Donec in risus eu ante.</p>
							<a href="index.html" class="tm-btn tm-btn-primary">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-seedling tm-feature-icon"></i>
							<p class="tm-feature-description">Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit. Nam sed suscipit odio. Morbi in dolor finibus, consequat nisl eget.</p>
							<a href="index.html" class="tm-btn tm-btn-success">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
							<p class="tm-feature-description">Morbi in dolor finibus, consequat nisl eget, pretium nunc. Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit.</p>
							<a href="index.html" class="tm-btn tm-btn-danger">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<div class="tm-history-inner">
							{% comment %} <img src="img/about-06.jpg" alt="Image" class="img-fluid tm-history-img" /> {% endcomment %}
							<img src="{% static 'app/img/about-06.jpg' %}" alt="Image" class="img-fluid tm-history-img" />
							
							<div class="tm-history-text"> 
								<h4 class="tm-history-title">History of our restaurant</h4>
								<p class="tm-mb-p">Sed ligula risus, interdum aliquet imperdiet sit amet, auctor sit amet justo. Maecenas posuere lorem id augue interdum vehicula. Praesent sed leo eget libero ultricies congue.</p>
								<p>Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a href="https://templatemo.com/contact">contact TemplateMo</a> for additional permissions about our templates. Thank you.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2023
 Jaipur Kitchen 
            
           </p>
		</footer>
	</div>
	{% comment %} <script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script> {% endcomment %}
	<script src="{% static 'app/js/parallax.min.js' %}"></script>

	
</body>
</html>